//fonts
@mixin font-face($style-name, $file, $category:"") {
  $filepath: "~@/assets/fonts/" + $file + "/"  + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
};
@include font-face('Arial Narrow', 'arial-narrow', 'sans-serif');
@include font-face('Arial Narrow Bold', 'arial-narrow-bold', 'sans-serif');
@include font-face('Arial Narrow Italic', 'arial-narrow-italic', 'sans-serif');
@include font-face('Arial Narrow Bold Italic', 'arial-narrow-bold-italic', 'sans-serif');
@include font-face('Ogg Roman', 'ogg-roman', 'serif');
@include font-face('Ogg Italic', 'ogg-italic', 'serif');

//global
* , ::after, ::before {
  box-sizing: border-box;
}




@media (max-width: $breakpoints-max-desktop) {

}
@media (max-width: $breakpoints-max-tablet) {

}
@media (max-width: $breakpoints-max-mobile) {

}

@media (max-width: $breakpoints-max-desktop) {

}
@media (max-width: $breakpoints-max-tablet) {
  .tablet-none {
    display: none!important;
  }
}
@media (max-width: $breakpoints-max-mobile) {
  .mobile-none {
    display: none!important;
  }
}


html, body {
  padding: 0;
  margin: 0;
  font-size: $global-font-size-mobile;
  font-family: $body-font-family;
  line-height: $global-line-height;
  @media print,screen and (min-width: 768px) {
    font-size: $global-font-size-tablet;
  }
  @media print,screen and (min-width: 1366px) {
    font-size: $global-font-size-desktop;
  }
  @media print,screen and (min-width: 1920px) {
    font-size: $global-font-size-full-size;
  }
}

body {
  min-width: 320px;
  background: $color-white;
}
.container {
  width: auto;
  padding: 0 15px;
  @media print,screen and (min-width: 768px) {

  }
  @media print,screen and (min-width: 1366px) {

  }
  @media print,screen and (min-width: 1920px) {

  }
}

.section{
  &__pages {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-white;
    overflow: hidden;
  }
  &__photo-text {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    @media print,screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}


button {
  padding: 0;
  border-width: 0;
  border: none;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  background: none;
  border: 0;
  outline: none;
  border-radius: 0;
}



.color-secondary {
  color: $color-secondary;
}

.text-right {
  text-align: right!important;
}
.text-center {
  text-align: center!important;
}
.text-left {
  text-align: left!important;
}


h1 {
  font-size: $h1_font-size;
  font-family:$title-font-family;
  font-weight: normal;
}
h2 {
  font-size: $h2_font-size;
}
h3 {
  font-size: $h3_font-size;
}
ul {
  padding: 0;
  list-style: none;
}


//scroll
body {
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}


