//Global
$color-black: #000000;
$color-white: #ffffff;
$color-secondary: #FF8500;;





//Typography
$body-font-family: Arial Narrow, san-serif;
$global-line-height: 1.5;
$global-font-size: 30px;
$h1-font-size: 6.6rem;
$h2-font-size: 2rem;
$h3-font-size: 1.3rem;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;